<i  class="fas fa-bars menu" (click)="onShow()"></i>
<app-nav-div></app-nav-div>
<div class="education ">
  <h1 class="edu font-weight-bold ">Education</h1>
  <div class="clg container">
    <div class="row">
        <div class="col-10 col-md-4 clg_pic mt-4">
          
        </div>
        <div class="col-10 col-md-8 mt-4 clg_desc ">
          <h2>Seth Jai Parkash Mukand Lal Institute of Engineering and Technology</h2>
          <h3>Bachelor of Computer Science</h3>
          <h5>2016-2020</h5>
          
        </div>
    </div>
  </div>
  <div class="clg container">
      <div class="row">
          <div class="col-10 col-md-4 school_pic mt-4">
            
          </div>
          <div class="col-10 col-md-8 mt-4 clg_desc ">
            <h2>Swami Vivekanad Public School</h2>
            <h3>Higher Secondary School</h3>
            <h5>2016</h5>
            
          </div>
      </div>
    </div>
    <div class="clg container">
        <div class="row">
            <div class="col-10 col-md-4 school_pic mt-4">
              
            </div>
            <div class="col-10 col-md-8 mt-4 clg_desc ">
                <h2>Swami Vivekanad Public School</h2>
                <h3>Secondary School</h3>
                <h5>2014</h5>
              
            </div>
        </div>
      </div>
</div>