<i  class="fas fa-bars menu" (click)="onShow()"></i>
<app-nav-div></app-nav-div>
<div class="container experience no-gutter">
  <h1 class="edu font-weight-bold ">Experience</h1>
  <div class="clg container">
    <div class="row">
        <div class="col-10 col-md-4 advent_pic" (click) = "show()">
        </div>
        <div class="col-10 col-md-8 clg_desc mt-4">
          <h2>Web Developer Intern At Advent Business Company Incorporation</h2>
          <a target="_blank" rel="noopener noreferrer" href="https://internshala.com/student/certificate/17192517/6950C6D7-2353-26DD-E0D5-6518D7401C4C" ></a>
          <h5>Currently working</h5>
          
        </div>
    </div>
  </div>
  <div class="clg container">
    <div class="row">
        <div class="col-10 col-md-4 Idealvillage_pic" (click) = "show()">
        </div>
        <div class="col-10 col-md-8 clg_desc mt-4">
          <h2>Web Developer Intern At IdealVillage</h2>
          <a target="_blank" rel="noopener noreferrer" href="https://internshala.com/student/certificate/17192517/6950C6D7-2353-26DD-E0D5-6518D7401C4C" >Selected Certificate</a>
          <h5>Got selected</h5>
          
        </div>
    </div>
  </div>
  <div class="clg container">
      <div class="row">
          <div class="col-10 col-md-4 gooffer_pic">
            
          </div>
          <div class="col-10 col-md-8 clg_desc mt-4">
            <h2>Web Development Internship At Gooffer</h2>
            <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/open?id=1m14b-0YZr1J5873DT18RJEdMe38HsJfQ">Completed Certificate</a>
            <h5>Nov-2018 to Dec-2018(Work From Home)</h5>
            
          </div>
      </div>
    </div>
  
</div>