<i  class="fas fa-bars menu" (click)="onShow()"></i>
<app-nav-div></app-nav-div>
<div class="projects">
  <h1 class="edu font-weight-bold ">Projects</h1>
  <div class="clg container">
    <div class="row">
        <div class="col-10 col-md-4  ether_pic mt-4">
          
        </div>
        <div class="col-10 col-md-8  clg_desc mt-4">
          <h2>Ether Dreadful</h2>
          <h5>October 2018</h5>
          <p>A platform for learning Blockchain technology and this project was presented at Hackcbs Delhi University Hackathon and was in TOP 20 out of 100 projects.</p>
          
          
        </div>
    </div>
  </div>
  <div class="clg container">
      <div class="row">
          <div class="col-10 col-md-4 augmenter_pic mt-4">
            
          </div>
          <div class="col-10 col-md-8 mt-4 clg_desc ">
              <h2>Augmenter</h2>
              <h5>March 2018</h5>
              <p>A web app platform for startups to find business accelerators. Worked
                  with a team of 5. Played the role of a front-end specialist. Interacted with
                  industry mentors and designed UI for web app.</p>
            
          </div>
      </div>
    </div>
    <div class="clg container">
        <div class="row">
            <div class="col-10 col-md-4 hospitobook_pic mt-4">
              
            </div>
            <div class="col-10 col-md-8 mt-4 clg_desc ">
                <h2>Hospitobook</h2>
                <h5>In Testing phase</h5>
                <p>Hospitobook is a web app for storing medical records for easy access,
                    eliminating the need for carrying large medical files on every doctor’s
                    visit. Worked in a team of 2. Currently in testing phase.</p>
              
            </div>
        </div>
      </div>
      <div class="clg container">
          <div class="row">
              <div class="col-10 col-md-4 ecommerce mt-4">
                
              </div>
              <div class="col-10 col-md-8 mt-4 clg_desc ">
                  <h2>Ecommerce</h2>
                  <h5>April 2018</h5>
                  <p>This project was part of the WEB DEVELOPMENT training at INTERNSHALA.</p>
                
              </div>
          </div>
        </div>
        <div class="clg container">
            <div class="row">
                <div class="col-10 col-md-4 personal mt-4">
                  
                </div>
                <div class="col-10 col-md-8 mt-4 clg_desc ">
                    <h2>Personal Website</h2>
                    <h5>Under Construction always</h5>
                    <p>As a developer it was the best for starting project so I created it.</p>
                  
                </div>
            </div>
          </div>

</div>